.container__formulario{
    display: flex;
    justify-content: center;
        /* display: grid;
    grid-template-columns: 30% 70%; */
    margin: 0.5em 4em 0px 4em;
}
.form-group{
    display: flex;
    flex-direction: column;
    margin: 1em;
}
.form-control{
    color: red;
    font-weight: bold;
    font-size: 1.2em;
}
.subtitulo__resultado{
    font-size: 20px;
    margin: 0 0 0.1em 0;
}
.formulario__container{
    border: 1px solid;
    border-radius: 4px;
}
.error{
    color: red;
    margin: 0.1em 0 0 0;
}












/* .formulario__pesquisa{
    margin: 15% 36.5%;
}
.input__text{
    padding: 0.5em;
    font-size: 1.5vw;
    width: 50%;
    border-radius: 5px;
    border: 0.1px solid;
} */
/* .input__text::placeholder{
} */
/* .input__submit{
    border: 0;
    background: #294cf5;
    color: white;
        padding: 0.8em;
    border-radius: 0.5em;
}
.input__submit:hover{
    background-color: #182c94;
    cursor: pointer;
} */
