/* .container__resultado{
    display: flex;
    margin: 3em;
    flex-wrap: wrap;
    justify-content: center; */
    /* color: white; */
/* }
.caixa__item{
    margin: 1em 2em;
     */
    /* background: #294cf5; */
    /* border: 1px solid;
    padding: 1em;
    border-radius: 18px;
    width: 10em;

    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
    justify-content: center;

    box-shadow: 3px 3px 10px;
}
.caixa__item:hover{
    box-shadow: 0px 1px 2px #172c74;
}
.subtitulo__resultado{
    font-weight: bold;
    font-size: 19px;
    display: flex;
    justify-content: center;
}
.subitem__resultado{
    margin: 0.5em;
    text-align: center;
} */